1

<!-- Loop through pages -->
{% for page in site.pages %}
bbb
<p>{{ page.url }}</p>
  {% if page.path contains '/apps/' %}
    <p>{{ page.path }}</p>
  {% endif %}
  {% if page.path contains 'apps/' %}
    <p>{{ page.path }}</p>
  {% endif %}
{% endfor %}
3
<!-- Loop through posts -->
{% for post in site.posts %}
<p>{{ post.url }}</p>
  {% if post.path contains '/apps/' %}
    <p>{{ post.path }}</p>
  {% endif %}
{% endfor %}
4
<!-- Loop through collections (optional) -->
{% for collection in site.collections %}
ddd
  {% for document in collection.docs %}
<p>{{ document.url }}</p>
    {% if document.path contains '/apps/' %}
      <p>{{ document.path }}</p>
    {% endif %}
  {% endfor %}
{% endfor %}

5

This is a navigation bar </br>
This is a hero image </br>
Content {{ content }} </br>
This is the Jira Form </br>
This is the Jira Tickets </br>
</hr>
This is the footer </br>
</br>
This is the chatbot </br>
<script src="https://app.livechatai.com/embed.js" data-id="clyq5fuab00018bz24tj8c22x" async defer>

{% for file in site.static_files %}

  {{ file.path }}
xxx
{% endfor %}


{% for file in site.assets %}

  {{ file.path }}
xxx
{% endfor %}

  
{% for image in site.static_files %}

  {{ image.path }}
    {% if image.path contains 'images/slider' %}
        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
    {% endif %}
{% endfor %}
  abc
{% for post in site.posts %}			
  in loop
<div style="border: 1px solid #DEDEDE;" class="main col col-12 col-sm-6 col-md-4 col-lg-3  mb-3 mt-3 d-flex align-items-stretch d-flex flex-column">

               
               <div  style="border: 1px dashed #6831e3;" class="card h-100 mb-1 mt-3">
                  <div class="card-header">
                     <a href="{{ post.url }}">{{ post.title }}</a>
                  </div>
                  <div class="card-body">
                     <p class="card-text">{{ post.blurb }}</p>
                     <a href="{{ post.url }}" class="btn btn-primary btn-sm " style="background: linear-gradient(45deg, #6831e3, #f528cb);">Check it out</a>
                  </div>
               </div>
               



</div>
  
{% endfor %}
